/* CSS to handle light mode */
@use './apply-theme.scss';
:root {
    color-scheme: light;
    --bg-color:rgb(253, 251, 251);
    --fg-color:black;
    --header-bg-color: #d1d2d3;
    --link-color: blue;
    --link-color-hover: lightskyblue;
    --link-color-visited: purple;
    --link-color-visited-hover: blueviolet;
} // recompile again, gulp, and again